@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

@font-face {
    font-family: 'Gilda Display';
    src: url('../fonts/GildaDisplay-Regular.woff') format('woff'),
        url('../fonts/GildaDisplay-Regular.ttf') format('truetype'),
        url('../fonts/GildaDisplay-Regular.svg#GildaDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$serif:  'Gilda Display', serif;
$sans: 'Open Sans', sans-serif;