footer {
    background-color:$dark;
    color:white;
    p,h6,h5,h4 {
        margin-bottom:0px;
    }
}
.footer-title {
    color:$yellow!important;
    font-family: $sans!important;
}
.footer-widget  {
    margin-bottom:20px;
}