$font-xs:11.5px;
$font-sm:14px;
$font-md:16px;


body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: $sans;
    font-size: 16px;
}
.text-center {
    text-align: center!important;
}


.container {
    @include min-xl {
        max-width: 1200px;
    }
    @include min-xxl {
        max-width: 1380px;
    }
}
.container.expanded {

    padding-right: 0px;
    padding-left: 0px;

    @include min-md {
        padding-right: 15px;
        padding-left: 15px;
    }
    @include min-lg {
        padding-right: 15px;
        padding-left: 15px;
    }
    @include min-xl {
        padding-right: 15px;
        padding-left: 15px;
    }
}

// Menu 



.nd_options_navigation_2 .menu-menu-1-container {
    > ul > li:after {
        content: "";
        display: inline-block;
        margin: 0px 6px;
    }
    li a {
        color: #878787;
        font-size: .8rem;
        line-height: 16px;
        font-family: $sans;
    }
}

//BOTONES

.btn {
    border-radius: 0px!important
}

.btn-outline-yellow {
    color:$yellow!important;
    border: 1px solid $yellow;
    padding:5px 10px;
    background-color: transparent;
    margin: 5px;
    font-weight: normal;

    &:hover, &:active, &:focus {
        background-color: $yellow;
        color:$dark!important;
        font-weight: normal;

    } 
}
.btn-outline-dark {
    color:$dark!important;
    border: 1px solid $dark;
    padding:5px 10px;
    background-color: transparent;
    margin: 5px;
    font-weight: normal;

    &:hover, &:active, &:focus {
        background-color: $dark;
        color:$yellow!important;
        font-weight: normal;

    } 
}



.btn-yellow {
    background-color: $yellow!important;
    border:none;
    padding:5px 10px;
    font-family: $sans!important;
    color: $dark!important;
    &:hover, &:active, &:focus {
        background-color: darker($yellow,10%);
        color:$dark!important;
        font-weight: normal;

    } 
}

.btn-dark {
    background-color: $dark!important;
    border:none;
    padding:5px 10px;
    font-family: $sans!important;
    color: white!important;
    &:hover, &:active, &:focus {
        background-color: darker($dark,10%);
        color:white!important;
        font-weight: normal;

    } 
}
.btn-row {
    display:flex;
    flex-direction: column;
    position: relative;
    margin: 30px 0px;
    @include min-md {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

// TITLES

.title-upper {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: $sans!important;
    text-align: center!important;
    margin-bottom: 13px;
    padding-bottom: 10px;
    font-weight: normal;
    display:block;
    &.white {
        color:white;
    }
}
.title-underline {
    position: relative;
    display: block;
    &:after {
        content: "";
        width: 85px;
        height: 3px;
        position: absolute;
        background-color: $yellow;
        display: block;
        transform: translate(-50%);
        bottom: 4px;
        left: 50%;
        margin-right: -50%;
    }
}
.title-serif {
    font-family: $serif!important;
    font-size: 1.8rem;
    &.white {
        color:white;
    }
}


//

.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

.slick-dots {
    bottom: 10px;
}

.vinolia-page {
    background-color:white;
}

.card-img-top {
    height: auto;
}

.clearfix {
    overflow: auto;
  }

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .custom-content {
      width:100%
  }

  .container-full {
    display: flex;
    flex-direction: column;
    @include min-lg{
        justify-content: space-around;
        flex-direction: row;
    }


}