#home-main-banner {
    display: flex;
    height:auto;
    min-height: 100%;
    width:100%;
    color:white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include min-lg{
        height: calc(100vh - 200px);
    }
    .title-block {
        max-width: 800px;
        width:100%;
    }
    h1.title-section {
        color:white
    }
    .calendar-form-block {
        max-width:900px;
        width:100%;
        padding: 3rem;
        background-color:$dark;
        margin-top:3rem;
        border-top: 5px solid $yellow;
        border-left: 1px solid $yellow;
        border-right: 1px solid $yellow;
        border-bottom: 1px solid $yellow;
        }
    .calendar-form-header {
        display:flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 1px solid $yellow;
        margin-bottom: 10px;
    }
    .calendar-form-header img {
        float: left;
    }
    .calendar-form-header h2 {
        float: left;
        color:$yellow;
        font-size: 1.5rem;
        font-family: $sans!important;
        text-transform: uppercase;
        margin: 0px 0px 0px 15px;
    }
    .calendar-form-body input[type="submit"] {
        max-width:200px;
        width: 100%;
    }
}

#home-about-us {
    .black-box {
        background-color: $dark;
        padding:2rem;
        p {
            color:white;
            font-weight: normal;

        }
    }

    .expereincia {
        display:block;
        background-color: $yellow;
        @include min-xl{
            display: flex;
            justify-content: space-between;
            align-items: stretch;
        }

    }
    .block-1 {
        width: 100%;
        height: 100%;
        @include min-xl{
            max-width: 399px;
            width: 100%;
            position: relative;
            height: auto;
        }
        @include min-xxl{
            max-width: 600px;

        }

    }
    .block-1 h2 {
        position: relative;
        color: white;
        font-weight: bold;
        display:block;
        font-size: 3rem;
        padding:10px;
        @include min-xl{
            position: absolute;
            display: inline-block;
            right: -192px;
            font-size: 4.5em;
        }
    }
    .block-2 {
        padding:15px;
        width:100%;
        @include min-xl {
            max-width: 564px;

        }

    }
    h3.block-post-title {
        font-family:$sans!important;
    }
    .block-post-excerpet {
        color:$dark;
        line-height: 1.5em;
    }
    .actions-elements {
        font-weight: bold;
        p {
            color: #000;
        }
    }


}

.yellow-arrow-banner {
    display: block;
    background-color:$dark;
    padding: 15px;
    @include min-xl {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
.yellow-arrow-banner h4.yellow-arrow-banner-title {
    font-weight: bold;
    font-family: $serif;
    position: relative;
    color: white;
    font-size: 1.8rem;
    min-width: 501px;
    margin-bottom: 0px;
    &:before {
        content:' ';
        background-image: url('../images/flecha.png');
        background-position: center;
        background-size: 100%;
        background-repeat:no-repeat;
        height: 50px;
        width: 50px;
        position: relative;
        display: block;
        float: left;
        margin-right: 10px;
    }
}
p.yellow-arrow-banner-p {
    @include min-xxl{
        max-width: 600px;
    }
}

.descalce-box {
    margin-top:0px;
    @include min-lg {
        margin-top: -50px;

    }
}

ul.associated-vineyards-logos-list {
    margin:0px;
    padding:0px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    li {
        list-style: none;
        padding:0px;
        margin:0px;
    }
}

img.associated-vineyards-logo {
    width: 100%;
    max-width: 150px;
}

.home-costumers-img {
    width:100%;
    display:block;
}

.black-reviews {
    display:block;
    padding:2rem 0px;
    background-color:$dark;
}

.tripadvisor-after {
    text-transform: uppercase;
    display: block;
    position: relative;
    &:after {
        content: '';
        background-image: url('http://localhost/wp_vinolia_2/wp-content/uploads/2019/07/icon-tripadvisor.png');
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        height: 60px;
        width: 60px;
        display: block;
        margin: 0 auto;
        position: relative;
    }
}

.review {
    color: $yellow;
    padding:20px;
    p {
        color: $yellow!important;
        
        font-size:1.2rem;
        text-align: center;
    }
    span {
        display:block;
        font-style: normal;
        text-align: right;
    }
}
.reviews-carrusel {
    .slick-dots li.slick-active button:before {
        opacity: .75;
        color: $yellow;
    }
    .slick-dots li button:before {
        font-size: 10px;
        content: '•';
        text-align: center;
        opacity: .25;
        color: $yellow;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
#home-partners {
    padding:2rem 0px;
}

ul.alianzas-grid {
    display:grid;

    grid-template-columns: 1fr 1fr ;
    list-style: none;
    margin:2rem 0px;
    padding:0PX;
    width:100%;
    grid-gap: 20px;
    @include  min-md {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .alianzas-logos {
        display:block;
        max-width:100%;
        width:100%;

    }
}

.news-row {
    margin:4rem 0px;
    .card {
        margin-bottom:20px;
    }
}

ul.grid-services {
    display:grid;

    grid-template-columns: 1fr ;
    list-style: none;
    margin:2rem 0px;
    padding:0PX;
    width:100%;
    grid-gap: 20px;
    @include min-md{
        grid-template-columns: 1fr 1fr;

    }
    @include  min-xl {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    li {
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

}

#home-events {
    display:flex;
    flex-direction: column;
    width:100%;
    h5 {
        font-size: 2rem;
    }
    @include min-lg{
        flex-direction: row;
        justify-content: stretch;

    }
    .bg-image {
        @include min-lg{
            width:50%;
            background-size:cover;
            background-position: center;
        } 
    }
    .yellow-block {
        background-color:$yellow;
        padding:2rem;
        @include min-lg{
            width:50%;
    
        } 
    }
    p {
        color:$dark!important;

    }
}

#home-calendar {
    .input-group-text img {
        max-width:30px;
    }
    span.input-group-text {
        padding: 3px 8px;
        background: $dark;
        border-radius: 0px;
        border-color: $yellow;
    }
    input.form-control {
        background-color:$dark!important;
        border-color: $yellow!important;
        color:$yellow;
        border-top:1px solid;
        border-bottom:1px solid;
        border-left:1px solid;
        border-right:transparent!important;


    }
}