#nd_options_navigation_2_top_header .nd_options_text_align_right #nd_options_navigation_top_header_2_right  .nd_options_display_table {
    &:first-child a {
        border: 1px solid $yellow;
        padding: 9px;
    }
    a {
        color: $yellow;
    }
}