#our-restorant {
    .col-left {
        width:100%;
        @include min-lg{
            width: 40%;
        }
    }
    .col-right {
        width:100%;

        @include min-lg{
            width: 60%;
        }
    }
    .block {
        padding: 2rem;
    }
    .col-left img {
        width:100%;
    }
}

#banner-menu {
    background-color: $dark;
    padding:3rem 0px;
    color:white!important;
    h6 {
        color:white!important;
        max-width: 600px;

    }
    .container {
        display:flex;
        flex-direction: column;
        @include min-lg{
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
    }
}

#executive-menu {
    background-image:url('../images/bg-yellow.jpg'); 
    background-repeat: repeat  no-repeat;
    .row {
        padding: 6rem 0px;
    }
    .img-fluid {
        width:100%;
    }
    p {
        padding: 3rem;
        max-width: 600px;
    }
}