include titles.pug
.blog-aside
     +title-3-sm-aside('Archivo')
     ul.nav.flex-column
        li.nav-item
            a(href="#").nav-link.active Post 1
        li.nav-item
            a(href="#").nav-link Post 1
        li.nav-item
            a(href="#").nav-link Post 1
        li.nav-item
            a(href="#").nav-link Post 1