meta(charset="UTF-8")
meta(name="viewport",content="width=device-width, initial-scale=1.0" )
// Bootstrap 4.0
link(href='bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
|
//Animate css
link(href='bower_components/animate.css/animate.min.css', rel='stylesheet')
|
// Slick Carousel 
link(href='bower_components/slick-carousel/slick/slick.css', rel='stylesheet')
link(href='bower_components/slick-carousel/slick/slick-theme.css', rel='stylesheet')
|
|
|
// Fuentes de iconos

|
// Tema personalizado Frontend
//- link(href='css/all.css', rel='stylesheet')
link(href='css/ohl-style.css', rel='stylesheet')
|
// Estilos desarrollo 
//- link(href='css/developers.css', rel='stylesheet')
