#mainNavigation
    .container
        nav#main-nav.navbar.navbar-expand-lg.navbar-light
            |
            |

            a.navbar-brand(href="index.html")
                img(src="images/logo_ohl-corporativo.png", alt="Logo OHL").img-logo
                
            |
            button.navbar-toggler.collapsed(type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Navegación")
                //-span.navbar-toggler-icon
                span
                span
                span
            |
            |
            #navbarMain.collapse.navbar-collapse.justify-content-end
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href="index.html") Inicio
                    li.nav-item.dropdown
                        a#navbarDropdown.nav-link.dropdown-toggle(href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Centro de Justicia
                        .dropdown-menu(aria-labelledby="navbarDropdown")
                            a.dropdown-item(href="page-default.html") Página 2
                            a.dropdown-item(href="page-interiror.html") Página 1
                            a.dropdown-item(href="#") Resultado de Búsqueda
                            a.dropdown-item(href="#") Team
                            a.dropdown-item(href="#") Entrada Blog
                            a.dropdown-item(href="#") 404
                       
                            //-span.sr-only (current)
                    li.nav-item
                        a.nav-link(href="#") OHL Sociedad concesionaria
                    li.nav-item 
                        a.nav-link(href="#") Servicios Generales
                    li.nav-item
                        a.nav-link(href="#") Compromiso social e innovación
                    li.nav-item
                        a.nav-link(href="#") Sala de prensa