mixin module-calltoaction(imgURL, imgAlt, title, text, styleHeaderClass, styleClass)
    .calltoaction-box(class!=styleClass)
        a.calltoaction__thumbnail(href="#")
            img.calltoaction__img.img-fluid(src!=imgURL, alt!=imgAlt )
        a.calltoaction__header(class!=styleHeaderClass, href="#" )
            h4.calltoaction__title=title  
        p.calltoaction__excert=text


mixin module-featured-post(imgURL, imgAlt, title, text, styleTitleClass )
    .featured-post
        .featured-post__thumbnail
            img.featured-post__img.img-fluid(src!=imgURL, alt!=imgAlt )
        .featured-post__resume
            h5.featured-post__title( class!=styleTitleClass )=title
            p.featured-post__excerpt=text
        .btn.btn--deafult Ver más