script(src='bower_components/jquery/dist/jquery.min.js')
script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
//-script(src='bower_components/owl.carousel/dist/owl.carousel.min.js')
//-script(src='bower_components/fullpage.js/dist/jquery.fullpage.min.js')
script(src='bower_components/jquery-sticky/jquery.sticky.js')
script(src='bower_components/slick-carousel/slick/slick.min.js')
//-script(src='bower_components/superslides/dist/jquery.superslides.js')
script(src='bower_components/wow/dist/wow.min.js')
script(src='bower_components/lightbox2/dist/js/lightbox.min.js')
script(src='bower_components/bsnav/dist/bsnav.min.js')



|
|
// COLIBRI
//- script(src='js/all.min.js')
script(src='js/init.js')
script(src='js/custom.js')
