ul#sidemenu.nav.nav-pills.flex-column
    li.nav-item
        a.nav-link(data-toggle="collapse" href="#item-1" data-parent="#sidemenu") Item 1
        #item-1.collapse.submenu
            ul.nav.flex-column.ml-3
                li.nav-item
                    a.nav-link(href="#") Sub 1-1
                li.nav-item
                    a.nav-link(href="#") Sub 1-2
                li.nav-item
                    a.nav-link(href="#") Sub 1-3
    li.nav-item
        a.nav-link(data-toggle="collapse" href="#item-2" data-parent="#sidemenu") Item 2
        #item-2.collapse.submenu
            ul.nav.flex-column.ml-3
                li.nav-item
                    a.nav-link(href="#") Sub 2-1
                li.nav-item
                    a.nav-link(href="#") Sub 2-2
                li.nav-item
                    a.nav-link(href="#") Sub 2-3
    li.nav-item
        a.nav-link(data-toggle="collapse" href="#item-3" data-parent="#sidemenu") Item 2
        #item-3.collapse.submenu
            ul.nav.flex-column.ml-3
                li.nav-item
                    a.nav-link(href="#") Sub 2-1
                li.nav-item
                    a.nav-link(href="#") Sub 2-2
                li.nav-item
                    a.nav-link(href="#") Sub 2-3                    