#topbar
    .container
        ul.topbar-items
            li#economic-indicator.topbar-item
                span.date Viernes 1 de Diciembre 2018
                span.uf UF: $27.000
                span.utm UTM: $20.000
            li#socialmedia.topbar-item
                ul.nav.justify-content-end
                    li.nav-item
                        a.nav-link(href="#").icon-mail
                    li.nav-item
                        a.nav-link(href="#").icon-facebook
                    li.nav-item
                        a.nav-link(href="#").icon-twitter
                    li.nav-item
                        a.nav-link(href="#").icon-linkedin
            li#search.topbar-item
                