doctype
html(lang="es")
    head
        include modules/head.pug
    body
        header
            include modules/top-bar.pug
            include modules/main-menu.pug
        #content
            section#main-slider.section
                ul#slides
                    li
                        img(src="http://placehold.it/1200x600", alt="placeholder").image-slider
                        .slide-info-wrap.animated.fadeInUp
                                h1.slider-title Una concesión publica ejemplar
                                .row-btn
                                    a(href="#").btn.btn-slider Más Información
                    li
                        img(src="http://placehold.it/1200x600", alt="placeholder").image-slider
                        .slide-info-wrap.animated.fadeInUp
                                h1.slider-title Una concesión publica ejemplar
                                .row-btn
                                    a(href="#").btn.btn-slider Más Información
            section#home-services-cdj.section
                .container
                    h2.section-title Servicios para el Centro de Justicia
                    include modules/modules-elements.pug
                    .row.gutter-sm
                        .col-12.col-sm              
                            +module-calltoaction( 'http://placehold.it/300x200', 'placeholder', 'Mantenimiento de Infrastructura', 'Lorem ipsum dolor sit amet consec, letuer elit, sed diam' )
                        .col-12.col-sm
                            +module-calltoaction( 'http://placehold.it/300x200', 'placeholder', 'Aseo y sanitización', 'Lorem ipsum dolor sit amet consec, letuer elit, sed diam' )
                        .col-12.col-sm
                            +module-calltoaction( 'http://placehold.it/300x200', 'placeholder', 'Seguridad y vigilancia', 'Lorem ipsum dolor sit amet consec, letuer elit, sed diam' )
                        .col-12.col-sm
                            +module-calltoaction( 'http://placehold.it/300x200', 'placeholder', 'Comedor institucional', 'Lorem ipsum dolor sit amet consec, letuer elit, sed diam' )
                        .col-12.col-sm
                            +module-calltoaction( 'http://placehold.it/300x200', 'placeholder', 'Estacionamiento y limpieza de vehiculos', 'Lorem ipsum dolor sit amet consec, letuer elit, sed diam' )
                        .col-12.col-sm
                            +module-calltoaction( 'http://placehold.it/300x200', 'placeholder', 'Comedor institucional', 'Lorem ipsum dolor sit amet consec, letuer elit, sed diam' )
            section#home-mison-and-press.section
                .container
                    .row
                        .col-12.col-md-6
                            h2.section-title.section-title--blue Compromiso Social e Innovación
                            +module-featured-post('http://placehold.it/600x400', 'placeholder', 'Ética e innovación', 'Lorem ipsum dolor sit amet consec, letuer elit, sed diam', 'featured-post__title--blue' )

                        .col-12.col-md-6
                            h2.section-title Sala de Prensa
                            +module-featured-post('http://placehold.it/600x400', 'placeholder', 'Información para medios', 'Lorem ipsum dolor sit amet consec, letuer elit, sed diam', 'featured-post__title--blue' )

            section#home-special
                .banner.banner--lg
                    .banner__thumbnail(style="background-image:url('http://placehold.it/600x600');backgraound-size:cover;") 
                        p.h3-like Visita nuestro sitio conmemorativo
                    .banner__conent.banner__content--light-blue
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce pellentesque nunc iaculis commodo tristique. Aliquam at cursus lacus. Aliquam viverra nunc dolor, nec egestas risus eleifend et. 
            section#home-services-citizen.section
                .container
                    h2.section-title Servicios al Ciudadano
                    .row
                        .col-12.col-md
                            +module-calltoaction( 'http://placehold.it/300x200', 'placeholder', 'Comunas de Atención','', 'calltoaction__header--dark-blue calltoaction__header--center uppercase' )

                        .col-12.col-md
                            +module-calltoaction( 'http://placehold.it/300x200', 'placeholder', 'Controles de detención de Hoy','', 'calltoaction__header--dark-blue calltoaction__header--center uppercase'  )

                        .col-12.col-md
                            +module-calltoaction( 'http://placehold.it/300x200', 'placeholder', 'Información Legal y Penal','', 'calltoaction__header--dark-blue calltoaction__header--center uppercase'  )

                        .col-12.col-md
                            +module-calltoaction( 'http://placehold.it/300x200', 'placeholder', 'Mesón','', 'calltoaction__header--dark-blue calltoaction__header--center uppercase'  )
                        .col-12.col-md
                            +module-calltoaction( 'http://placehold.it/300x200', 'placeholder', 'Comedor institucional','', 'calltoaction__header--dark-blue calltoaction__header--center uppercase'  )
            section#home-magizine.section
                .container.d-flex.justify-content-center
                    a.magizine-downloadd(href="#")
                        img.img-fluid(src="http://placehold.it/600x50", alt="")
                    
            
        include modules/footer.pug
        include modules/scripts.pug