doctype
html(lang="es")
    head
        include modules/head.pug
    body
        header
            include modules/top-bar.pug
            include modules/main-menu.pug
            .container.sidebar-page-layout.inner-page
                .row
                    .col-12.col-lg-3
                        .sidebar
                            .nav(aria-label="breadcrumb")
                                ol.breadcrumb
                                    li.breadcrumb-item 
                                        a(href="#") Inicio
                                    li.breadcrumb-item 
                                        a(href="#") Centro de Justicia
                                    li.breadcrumb-item.active(aria-current="page") Historia
                            include modules/sidebar-menu.pug

                    .col-12.col-lg-9
                        #content
                            h1.page-title.page-title--blue  Título
                            .featured-image--inner-page 
                                img.img-fluid(src="http://placehold.it/800x300", alt="placeholder")
                                
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas luctus imperdiet nulla, sit amet vehicula mauris condimentum in. Ut ut metus condimentum, sagittis enim non, faucibus ipsum. Sed rutrum, lorem ac scelerisque facilisis, est mi tristique metus, eu tempus nibh nulla egestas libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in euismod eros. Vivamus id ante tellus. Fusce vitae sodales orci. In id sem congue, faucibus neque sed, posuere mauris. Curabitur mauris libero, convallis iaculis rutrum at, lobortis ut ante. Pellentesque in sapien lacus. Praesent quis elit leo. Curabitur quis tristique diam. Donec vel elit velit. Etiam eros diam, tempor id velit eget, molestie iaculis tellus. Mauris interdum magna a lacinia dictum.

                            p Proin vel hendrerit neque. Fusce sit amet mi eu risus ultricies dictum. Curabitur et molestie lorem. Nam ut odio in libero interdum interdum a eget tortor. Nulla quis massa ornare, suscipit lectus non, blandit diam. Suspendisse sed ultrices odio. Etiam rutrum velit diam, in sodales eros tempor sit amet. Nulla consectetur neque at euismod consequat. Fusce lobortis quis ipsum id fringilla. Morbi gravida porttitor ipsum nec pulvinar. Morbi dignissim ullamcorper lorem, eget condimentum urna blandit a. Phasellus tempor suscipit posuere.

                            p Nunc nisl ligula, tempus molestie turpis ut, consequat lobortis leo. Etiam pharetra nisl mollis ultricies porttitor. Nullam dolor justo, laoreet consectetur luctus non, ornare ac dui. Donec rutrum eget lorem in commodo. Nam tristique vehicula dolor vitae consequat. Nam facilisis nisl sit amet fringilla vulputate. Ut eros purus, suscipit eu luctus nec, laoreet eu libero. Cras pharetra non tortor vel gravida. Vivamus ac convallis purus, non sodales ligula. Morbi euismod placerat iaculis.

                            p Cras sollicitudin id libero ornare vulputate. Proin sed est viverra, iaculis lectus eu, lacinia sem. Nulla tortor lectus, dapibus non tincidunt et, consectetur vitae magna. Nunc a maximus augue. Aenean luctus metus et scelerisque volutpat. Proin justo augue, molestie sed lorem quis, viverra suscipit tellus. Etiam vitae felis eu leo sodales sodales eget vitae risus. Duis ex massa, condimentum eu aliquet id, pellentesque a velit. Pellentesque vulputate dignissim porta. Sed non dolor venenatis, euismod ante non, posuere lacus. Cras id ligula posuere, sagittis dui at, condimentum augue. Proin ex neque, pharetra mollis ante sed, pellentesque feugiat enim. Maecenas vel felis ac justo eleifend lobortis eget non felis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.

    

                        .content-footer.d-flex.justify-content-end
                            a.btn--back(href="#") Volver

                    
            
        include modules/footer.pug
        include modules/scripts.pug